.calc {
  margin: 50px auto;
  width: 300px;
  height: 520px;
  background-color: #000;
  border-radius: 20px;
  padding: 18px;
}

.calc__display {
  height: 125px;
  display: grid;
  justify-content: end;
  align-items: end;
  font-size: 24px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.calc__btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.calc__btn button {
  border: none;
  outline: none;
}

.btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #333;
  color: #fdfdfd;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(120%);
}

.btn:active {
  filter: brightness(90%);
}

.btn-grey {
  background-color: #a6a6a6;
}

.btn-orange {
  background-color: #ff9501;
}
